<app-navbar></app-navbar>
<ion-content class="ion-padding">
  <p class="animated fadeIn ion-text-center">
    <img src="../../../../../assets/conquistas.png" alt="Pontuação" class="img-150" />
  </p>
  <h4 class="ion-text-center">Pontuação Jornadas</h4>
  <ion-list>
    <ion-item>
      <ion-label>Inciante</ion-label>
      <ion-note slot="end">100%</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Investidor</ion-label>
      <ion-note slot="end">75%</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Explorador</ion-label>
      <ion-note slot="end">22%</ion-note>
    </ion-item>  
  </ion-list>
</ion-content>